# dependencies
node_modules/

# production
dist/

# environment variables
.env

# database
*.db
*.sqlite

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/